<section class="page-title">
    <div>
        <h1>{{i18n.details.not_found_heading}}</h1>
        <p>{{i18n.details.not_found_intro}}</p>
    </div>
    <a class="button secondary" href="/">{{i18n.actions.back_to_sites}}</a>
</section>
