<div class="management-table-wrap">
        <table class="management-table courses-table" id="moodle-courses-table">
            <thead>
            <tr>
                <th>{{i18n.moodle_courses.course}}</th>
                <th>{{i18n.moodle_courses.filter_visibility}}</th>
                <th>{{i18n.moodle_courses.category}}</th>
                <th>{{i18n.moodle_courses.participants}}</th>
                <th>{{i18n.moodle_courses.activities}}</th>
                <th>{{i18n.moodle_courses.format}}</th>
            </tr>
            </thead>
            <tbody>
            {{#courses}}
                <tr class="course-row" data-course-id="{{id}}" tabindex="0">
                    <td>
                        <small>#{{id}}</small>
                        {{#fullname}}
                            <strong>{{fullname}}</strong><br>
                        {{/fullname}}
                        {{#shortname}}
                            <small>{{shortname}}</small>
                        {{/shortname}}
                    </td>
                    <td><span class="status-badge {{visibility_class}}">{{visibility_label}}</span></td>
                    <td>{{categoryname}}</td>
                    <td><strong>{{participantcount}}</strong></td>
                    <td><strong>{{activitycount}}</strong></td>
                    <td><code>{{format}}</code></td>
                </tr>
            {{/courses}}
            </tbody>
        </table>
</div>
